<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
        <link rel="shortcut icon" type="image/png" href="images/TD2.png">
        
                <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300;400&family=Source+Code+Pro:wght@200;300&display=swap" rel="stylesheet">

       

</head>
<style>
  body
  {
    background-color: #e3acee;
    background-image: linear-gradient(to bottom right, #9B05BB, #3f2455);
  }
    
      p{
      /*font-family: futura-lt-w01-book,sans-serif;*/
      /*font-family: Avenirnext, sans-serif;*/
      font-family: 'Lato', sans-serif;
      line-height: 1.5;
    }

  .parallax {
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  </style>
<body style ="background-color: #e3acee;">

  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:rgb(255, 255, 255);text-align:center;font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Source Code Pro', monospace;"><a href="/Projects.html">Audio Story</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
          
    
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">My Work</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
     <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;"> 
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    
    
  </div>



  <div class="row">
    
        
          
    <div class="col-sm-12 parallax"  style="height: 390px;text-align: center; background-image: url('/images/Audiostory3.png');background-position: center;background-size: cover;background-repeat: no-repeat;">
    
      <br>
     <br>
     <br>
     <br>
     <br>
          <H1 style ="color:rgb(255, 255, 255);padding-left: 5px;padding-right: 5px;font-weight: 100;">Audio Story</H1>
      
    </div>
  
  
  
 
  </div>
  <div class="row" style="background-color:white;padding: 20px; padding-bottom: 35px">
    <div class="col-sm-2" ></div>
  <div class="col-sm-8" style ="padding-left: 5%;padding-right: 5%;">
      <H3 style ="color:black">Background</H3>
      <hr style ="border: 1px solid; color:#9B05BB;">
      
  <p style ="color:black; " >This is an Audio story that I created during my first semester
    studying Interaction and Experience design at UL. The task for this project was to create a story using sound effects
  with no dialogue. I used Audacity to create this story and soundsamples found on freesound.org.
   
      </p>
  <br>
  <br>

</div>


<div class="col-sm-4" ></div>



</div>



</div>


  <div class="row" style ="margin-top:50px;padding: 20px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      
      <H3 style ="color:white;text-align: center;">Audio Story</H3>
      
     </div>
    
      <div class="col-sm-4">
        
  <div class ="audio-container">
    

  <audio controls >
      <source src="Audio/BankRobbery.ogg" type="audio/ogg">
      <source src="Audio/BankRobbery.mp3" type="audio/mpeg">
    FAILED TO LOAD
    </audio>
    
    
    </div>
    <br>
  <br>
  <br>
  <br>

    </div>
    </div>
     




  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>
  

