<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Audio Story</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
         <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png?">
    <link rel="shortcut icon" type="image/png" href="images/TD2.png?">

</head>
<body style ="background-color: #e3acee;">

  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:white;text-align:center;"><a href="/Projects.html">Audio Story</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="color: white;background-image: url('/images/teal.jpeg');">
    
          
    
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">Projects</a>
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
    
    
  </div>

<div class ="container">
  
  <div class="row" style="margin-top:30px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
        <H4 style ="color:black">Audio Story</H4>
      <p style ="color:black" class ="desctiptiveText">This is an Audio story that I created for my first semester
      studying Interaction and Experience design at UL. The task was to tell a story using only sounds
    but wthout using dialogue or narration. I used Audacity to create this story and soundsamples found on freesound.org.
     You can find references for the sound clips on the readme file for this site.  </p>
        <br>
        <p style ="color:black" class ="desctiptiveText">Throughout this project, I learned about audio mixing,
            how to work with Audacity and how to be creative with sounds available to me. </p>
     <br>
  <br>
  <br>
  <br>
  <div class ="audio-container">
    

  <audio controls >
      <source src="Audio/BankRobbery.ogg" type="audio/ogg">
      <source src="Audio/BankRobbery.mp3" type="audio/mpeg">
    FAILED TO LOAD
    </audio>
    
    </div>
    <br>
  <br>
  <br>
    </div>
    </div>
     </div>




  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>
