<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tones Designs</title>
    <meta charset="utf-8">
    <meta name="viewport" content=" initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
  

    
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
    <link rel="icon" type="image/png" href="images/TD2.png">
    <link rel="shortcut icon" type="image/png" href="images/TD2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap" rel="stylesheet">

</head>
<style>

 

body
{
  background:rgb(244, 244, 244);   /*rgb(244, 244, 244)*/
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #F45B69;
  padding: 100px 0;
}



.logobackground
{
  
  background: linear-gradient(-45deg,  var(--main-bg-color,rgb(18, 226, 230)), var(--my-color,rgb(33, 131, 184)), var(--my-color2,rgb(225, 16, 16)), var(--my-color3,rgb(135, 6, 6)));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color:  rgb(18, 226, 230);
}


h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #20292f;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}



.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #1c7c8e3c;
  position: relative;
margin: 0 auto;
}







.frame
{
  background: #1c7c8e3c;
width:250px;
border-radius: 10px;
position: relative;
margin: 0 auto;
padding-top: 11px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;



  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}





  </style>
<body>
<header>
  
  <script>
    function randnumber1()
    {
      
      var randomColor = "#"+((1<<24)*Math.random()|0).toString(16); 
      document.documentElement.style.setProperty('--main-bg-color', randomColor);
      
    }
    window.onload = randnumber1();
    
    </script>
    
    <script>
     
      function randnumber2()
      {
        var randomColor = "#"+((1<<24)*Math.random()|0).toString(16); 
        document.documentElement.style.setProperty('--my-color', randomColor);
      }
      window.onload = randnumber2();
      </script>
    
    <script>
      function randnumber3()
      {
        var randomColor = "#"+((1<<24)*Math.random()|0).toString(16); 
        document.documentElement.style.setProperty('--my-color2', randomColor);
      }
      window.onload = randnumber3();
      </script>
    
    <script>
      function randnumber4()
      {
        var randomColor = "#"+((1<<24)*Math.random()|0).toString(16); 
        document.documentElement.style.setProperty('--my-color3', randomColor);
      }
      window.onload = randnumber4();
      </script>



  

  <nav class="navbar fixed-top">
    
    <div class="banner" onclick="myFunction(this);toggleNav()" id="Xbutton">
     
        <div class="bar1 bars" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
        <div class="bar2 bars" style = "margin-left:5px;cursor:pointer"></div>
        <div class="bar3 bars" style = "margin-left:5px;cursor:pointer;"></div>
      </div>

      <H2 style ="color:#00d7c8">Tones Designs</H2>
    
  </nav>
  
  
</header>


<div class= "container">
  <div class="row" >
    <div class="col-sm-12" style ="margin-top:35px;"></div>
    
    <div class="col-sm-7 ">
      
    
      <img class = "img-fluid logobackground" src="images/TDLogoCover.png" alt="Lost image" style="object-fit: cover;border-color:rgb(244, 244, 244);border-style:solid;border-radius: 2px;">
     
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4" style="font-size: 20px;margin-top:20px;">
      <br>
      <div id ="test">
      <H1 style ="font-family: 'Roboto', sans-serif;;font-size: 64px; font-weight: 300;color:rgb(0, 0, 0)"> Hi<a>, my name is Tony Egan</a><a2> and I'm an Irish UX/UI Designer</a2> </H1>
      <br>
    </div>
    </div>
  </div>
    
    
    
    <br>
    <br>

  
    <div class="row" >
      <div class="col-sm-12">
        <br>
        <br>
        <H1 style ="color:black">Featured Work</H1>
        
        <hr style ="border: 3px solid black;">
      </div>
      <div class="col-sm-1"></div>

      <div class="col-sm-4" style="margin-top:35px">
        
          <a href="/Thesis.html" >
            <img src="images/Thumb.jpg" class ="imageButton" alt="Lost image" style="object-fit: cover;border-radius: 2px;background-color: black; height: 300px">
            <H2 style ="color:black;padding-top: 2px;">Thesis</H2>
            
            <p style ="color:black;font-weight: 300">The work life balance monitor. A device that aims to help people working from home to create greater distinction between work and non work time.</p>
          </a>
      </div>
      <div class="col-sm-2"></div>
      
      <div class="col-sm-4"  style="margin-top:35px">
        
        <a href="/DesignProbes.html" >
        <img src="images/Probes/IntrotoProbesCover.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;border-radius: 2px; height: 300px">
        <H2 style="color:black;padding-top: 2px;" >Design Probes</H2>
        <p style ="color:black;font-weight: 300">An exercise in participatory design and user research. Using design probes to understand more about people in relation to the future of autonomous vehicles.</p>
      </a>
      </div>
      
      
    <div class="col-sm-1"></div>

<div class="col-sm-1"></div>

      <div class="col-sm-4" style="margin-top:35px">
        
          <a href="/GolfRules.html" >
            <img src="images/ROGApp/OldHead.jpeg" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;border-radius: 2px; height: 300px">
            <H2 style ="color:black;padding-top: 2px;">Golf Rules</H2>
            <p style ="color:black;font-weight: 300">An interactive rulebook for the game of golf. Making the game easier and more accessible for new and existing golfers.</p>
          </a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4"  style="margin-top:35px">
        
      <a href="/SweepCity.html" >
        <img src="images/SweepCity/SweepCityCover.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black; border-radius: 2px;height: 300px">
        <H2 style ="color:black;padding-top: 2px;">Sweep City</H2>
        <p style ="color:black;font-weight: 300;">An app that aims to educate the children of Sri Lanka about the importance of waste management through fun and engaging activities.</p>
      </a>
      </div>
    <div class="col-sm-1"></div>
   

</div>
<br>
<br>

  </div>

  <div class="row" >
   
  <div class="col-sm-12 text-center"><a href ="Projects.html">
    <button class="btn btn-rounded2" type="button" style="font-family: 'Lato', sans-serif;">
        View More
  
      </button>
    </a>
    </div>
    <br>
<br>
<br>
<br>
<br>
</div>


    <div class="row" id="AboutMe"> 
      <div class="col-sm-12" style ="margin-top:50px;">
      <div class="TextSection" style ="color:rgb(233, 233, 233)">
      
      
      <div class="col-sm-12">
    
      <br>
        <h1 style ="color:rgb(255, 255, 255)">About Me</h1>
    <br>
    </div>
    <div class="row">
    <div class="col-sm-6">
    <p style ="margin-left: 10%;margin-right: 10%;text-align: left;font-size: 18px;font-weight: 250;">My name is Tony and I'm from County Clare in Ireland. I studied a bachelor of science in multimedia and computer games development at the 
      University of Limerick and have worked in support and customer success roles in the tech industry for over 5 years. Having completed a Masters of science in 
      Interaction and Experience Design at the University of Limerick and receiving first class honours, I’ve now moved towards working in design. Working directly 
      with customers in relation to products has given me great experience understanding and empathising with users as well as well as an abundance of experience 
      directly engaging with engineering and product teams on a daily basis.  </p>
       
  <p style ="margin-left: 10%;margin-right: 10%;text-align: left;font-size: large;font-weight: 180;">I've always had a keen appreciation for art and design and I'm fascinated by Human Computer interaction. 
    At the end of 2020 I decided to make the move towards working in design when I applied for a UX Masters at UL. I coded this website to showcase my progress and interest 
    in design as well as to sharpen my existing programming, web design and interaction design skills. I'm also passionate about Golf, Music and I love to travel.</p>

   
</div>
<div class="col-sm-1"></div>
<div class="col-sm-4">
  <img class = "img-fluid" src="images/TonyCollage.jpg" alt="Lost image" style="object-fit: cover;">
</div>
</div>
    <button class="btn btn-rounded2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style ="color:white;font-family: 'Lato', sans-serif;">
      Timeline

    </button>
    <br>
    <br>
    <div class="collapse" id="collapseExample">
      <br>
      <br>
      
      <section class="timeline">
  <ul>
    
    
      <div class="frame">
    <time style ="color:#68f441">1993</time>  
    <p>Born</p>
    </div>
    
    <li>
      <br>
      <br>
    </li>
    
    <div class="arrow-up"></div>
    <div class="frame">
      <time style ="color:#68f441">1997</time>  
      <p>School - Clonnmoney</p>
      </div>
    
     
      <li>
        <br>
        <br>
      </li>
      
      <div class="arrow-up"></div>
      <div class="frame">
        <time style ="color:#68f441">2005</time>  
        <p>Secondary School - St Caimins</p>
        </div>
        
        <li>
          <br>
          <br>
        </li>
        
        <div class="arrow-up"></div>
        <div class="frame">
          <time style ="color:#68f441">2010</time>  
          <p>University Of Limerick - BSc. Multimedia and Computer Games Design</p>
          </div>
         
          <li>
            <br>
            <br>
          </li>
          
          <div class="arrow-up"></div>
          <div class="frame">
            <time style ="color:#68f441">2014</time>  
            <p>Graduated</p>
            </div>
            
            <li>
              <br>
              <br>
            </li>
            
            <div class="arrow-up"></div>
            <div class="frame">
              <time style ="color:#68f441">2015</time>  
              <p>Worked as call center support for 3 Networks</p>
              </div>
              
              <li>
                <br>
                <br>
              </li>
              
              <div class="arrow-up"></div>
              <div class="frame">
                <time style ="color:#68f441">2015</time>  
                <p>Worked as Application Support engineer at AIB</p>
                </div>
               
                <li>
                  <br>
                  <br>
                </li>
                
                <div class="arrow-up"></div>
                <div class="frame">
                  <time style ="color:#68f441">2016</time>  
                  <p>Worked as Sr. Tech support Engineer and Implementation Manager at Upland Altify</p>
                  </div>
                 
                  <li>
                    <br>
                    <br>
                  </li>
                  
                  <div class="arrow-up"></div>
                  <div class="frame">
                    <time style ="color:#68f441">2020</time>  
                    <p>Created this website</p>
                    </div>
                   
                    <li>
                      <br>
                      <br>
                    </li>
                    
                    <div class="arrow-up"></div>
                    <div class="frame">
                      <time style ="color:#68f441">2020</time>  
                      <p>University Of Limerick - Masters in Interaction and Experience Design</p>
                      </div>
                      
                      <li>
                        <br>
                        <br>
                      </li>
                      
                      <div class="arrow-up"></div>
                      <div class="frame">
                        <time style ="color:#68f441">2021</time>  
                        <p>University Of Limerick - Masters in Interaction and Experience Design</p>
                        </div>
                        <br>

   
  </ul>
</section>


<br>
<br>


        <button class="btn btn-primary btn-rounded2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style ="color:white;font-family: 'Lato', sans-serif;">
          Close Timeline
          
        </button>
        
        <br>
          <br>
      </div>
    </div>
      
      </div>
    </div>
  


<div class ="row">
  <div class="col-md-12">
    <div class="TextSection3"> 
      <br>
  <h1 id="Contact">Contact</h1>
  </div>
  </div>
  </div>
  <div class ="row" style="padding-bottom: 15px;">
   
    <div class="col-sm-1"></div>
  <div class="col-sm-2" >
  <p style="font-size:16px;font-weight: 1000;font-family: Roboto,sans-serif;text-align: left;padding-left: 5px;">Tony Egan — </p><p style="font-size:15px;font-weight: 350;text-align: left;padding-left: 5px;">UX Designer</p>
<br>
    </div>
<div class="col-sm-2" ></div>
<div class="col-sm-2">
  <p style="font-size:16px;font-weight: 1000;font-family: Roboto,sans-serif;text-align: left;padding-left: 5px;">Email — </p><p style="font-size:15px;font-weight: 400;text-align: left;padding-left: 5px;">Tony8egan@hotmail.com</p>
<br>
    </div>
<div class="col-sm-2" ></div>
<div class="col-sm-2">
  <p style="font-size:16px;font-weight: 1000;font-family: Roboto,sans-serif;text-align: left;padding-left: 5px;">Linkedin — </p> <p style="font-size:15px;font-weight: 400;text-align: left;padding-left: 5px;">https://ie.linkedin.com/in/tony-egan-76a13683</p>
<br>
    </div>
</div>
</div>
</div>
</body>

 
  <div id="mySidenav" class="sidenav" style ="background-image: url('/images/teal.jpeg');">
    
  
    <a href="Home.html" class ="hovereffect" style ="text-decoration: none;font-family: 'Lato', sans-serif;">Home</a>
    <a href="#AboutMe" class ="hovereffect" style ="text-decoration: none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
    <a href="Projects.html" class ="hovereffect" style ="text-decoration: none;font-family: 'Lato', sans-serif;">My Work</a>
    <a href="#Contact" class ="hovereffect" style ="text-decoration: none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
  
  </div>


  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  <script>
  function toggleText() {
    var text = document.getElementById("PersonalCaddy");
    if (text.style.display === "none") {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  }
  </script>
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
