
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tones Designs</title>
    <meta charset="utf-8">
    <meta name="viewport" content=" initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
  

    
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
    <link rel="icon" type="image/png" href="images/TD2.png?">
    <link rel="shortcut icon" type="image/png" href="images/TD2.png?">


</head>
<body>
<header>
  
  <nav class="navbar fixed-top">
    
    <div class="banner" onclick="myFunction(this);toggleNav()" id="Xbutton">
        <div class="bar1 bars" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
        <div class="bar2 bars" style = "margin-left:5px;cursor:pointer"></div>
        <div class="bar3 bars" style = "margin-left:5px;cursor:pointer;"></div>
      </div>

      <H2 style ="color:orange">Tones Designs</H2>
    
  </nav>
  
  
</header>


<div class= "container">
  <div class="row" >
    <div class="col-sm-12" style ="margin-top:35px;"></div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6 ">
      
    
      <img class = "img-fluid" src="images/TonyCollage.jpg" alt="Lost image" style="object-fit: cover;">
     
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4" style="font-size: 20px;margin-top:20px;">
      <br>
      <p> Hi, Welcome to Tones Designs. I'm Tony Egan and I've created this website 
        in order to showcase my interest and progress in user experience and interface 
        design. I've been working in the tech industry for over 5 years in Customer Success 
        roles and now intend to move into UX and UI design. I'm currently studying a Masters 
        in Interaction and experience design at University of Limerick.</p>
    </div>
  </div>
    
  <div class="row">
    
    <div class="col-sm-4">
    </div>
    
    <div class="col-md-4" style ="margin-top:25px;margin-bottom:25px;">
      <div class="container-fluid"></div>
      <a href="Projects.html" class="imageButton">
        <img src="images/Photography/Projects.jpg"  alt="Lost image" style="object-fit: cover;margin-top:20px;border: 5px solid black;border-radius: 2px;">
        <H1 class ="centered imageButtonText">Projects</H1>
      
      </a>
    </div>
      </div>
  </div>
    

    <div class="row" id="AboutMe"> 
      <div class="col-sm-12" style ="margin-top:50px;"></div>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
    <div class="TextSection">
      <br>
        <h1>About Me</h1>
    
        <p> Below is a brief summary of what I've been doing up until now.</p>
    <br>
    <p style ="color:#68f441"><strong>1993</strong></p>
        <p>Born</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>1997</strong></p>
        <p>School - Clonnmoney</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2005</strong></p>
        <p>Secondary School - St Caimins</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2010</strong></p>
        <p>University Of Limerick - BSc. Multimedia and Computer Games Design</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2014</strong></p>
        <p>Graduated</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2015</strong></p>
        <p>Worked as call center support for 3 Networks</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2015</strong></p>
        <p>Worked as Application Support engineer at AIB</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2016</strong></p>
        <p>Worked as Sr. Tech support Engineer and Implementation Manager at Upland Altify</p>
        
        <br>
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2020</strong></p>
        <p>Created this website</p>
        <br>
        
        <span style='font-size:30px;'>&#8659;</span>
        <br>
        <br>
        <p style ="color:#68f441"><strong>2020</strong></p>
        <p>University Of Limerick - Masters in Interaction and Experience Design</p>
        <br>
      </div>
      </div>
    </div>
  


<div class ="row">
  <div class="col-md-12">
    <div class="TextSection3"> 
  <h1 id="Contact">Contact</h1>
  <p>Phone - 086-2086905</p>
  <p>Email - Tony8egan@hotmail.com</p>
  <p>Linkedin - https://ie.linkedin.com/in/tony-egan-76a13683</p>
</div>
</div>
</div>


  

  <div id="mySidenav" class="sidenav" style ="background-image: url('/images/teal.jpeg');">
    
  
    <a href="Home.html" class ="hovereffect" style ="text-decoration: none;">Home</a>
    <a href="#AboutMe" class ="hovereffect" style ="text-decoration: none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
    <a href="Projects.html" class ="hovereffect" style ="text-decoration: none;">Projects</a>
    <a href="#Contact" class ="hovereffect" style ="text-decoration: none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
  
  </div>


  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  <script>
  function toggleText() {
    var text = document.getElementById("PersonalCaddy");
    if (text.style.display === "none") {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  }
  </script>
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
