<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
        <link rel="shortcut icon" type="image/png" href="images/TD2.png">
        
        
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">

    
        
        
       
</head>

<style>
    body{
        background-color: #68020c;
        background-image: linear-gradient(to bottom right, #980c1a, #68020c);
        font-size: 18px;
    }
   
    p{
      /*font-family: futura-lt-w01-book,sans-serif;*/
      /*font-family: Avenirnext, sans-serif;*/
      font-family: 'Lato', sans-serif;
      line-height: 1.4;
    }

    .parallax {
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  background-image: url('/images/DesignProbes/ProbeCover.png');
}



    
</style>


<body>
    
  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:white;text-align:center;font-family: 'Lexend Deca', sans-serif;font-weight:200"><a href="/Projects.html">Design Probes</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
        
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;">Home</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;">My Work</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
      <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
     <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    
  </div>


  
  <div class="row">
    
        
          
          <div class="col-sm-12 parallax"  style="height: 390px;text-align: center; ">
            <div class="parallax">
            <br>
           <br>
           <br>
           <br>
           <br>
                <H1 style ="font-family: 'Lexend Deca', sans-serif;color:rgb(255, 255, 255);padding-left: 5px;padding-right: 5px;font-weight: 100;">Design Probes</H1>
            
          </div>
        </div>
        
        
       
        </div>
        <div class="row" style="background-color:white;padding: 20px;">
          <div class="col-sm-2" ></div>
        <div class="col-sm-8" style ="padding-left: 5%;padding-right: 5%;">
            <br>
            <H2 class="MainProjectHeaderText" style ="color:black; font-weight: 300;">Background</H2>
            <hr style ="border: 1px solid; color:#68020c">
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black; ">Brief</H5>
              <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;" >Select an area of life.<a></li>
              <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;" >Research this area of life.<a></li>
                <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;">Design and develop a participatory design activity intended to discover this area of life.<a></li>
                  <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;">Carry out participatory design sessions with participants.<a></li>  
                    <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;">Assess and draw insights from participatory design sessions or materials.<a></li>
                      <li style ="color:#68020c;" class ="desctiptiveText"><a style ="color:black;">Develop a prototype based on insights.<a></li>
            <br>
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black;">Topic</H5>
           
            <p style ="color:black; ">Autonomous cars</p>
           
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black">Duration</H5>
            <p style ="color:black; " >8 weeks</p> 
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black;">Design Challenge: Probe design & Road trip feature</H5>
            <p style ="color:black; " >Developing a set of design probes that are intended to gather insights about the potential future of autonomous car design.</p>
            <p style ="color:black; " >Developing a feature that saves and shares road trips taken in an autonomous car. This needed to be built as part of a larger system. I needed to consider and design the information architecture of an autonomous car control system.</p>
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black">Project Summary</H5>
        <p style ="color:black; " >This project was done as part of a module that focused on participatory design. The goal of the project was to take an area of life and develop a participatory design activity in order to learn more about it. I decided to look at the future of autonomous cars as my area of life. I was interested in the future of autonomous cars given that the way cars are designed today prioritises the act of driving. Autonomous cars open up an opportunity to totally rethink car design. Given the option of Design Games, Critical Design and Design Probes, I chose to use design probes. I felt that Design Probes would be the most effective way to identify interesting insights in this area as it would allow me to touch on a range of topics and would give the participants a greater sense of privacy which I hoped would yield more creative and insightful results. I carried out research about autonomous cars which would shape the probes that I created. </p>
        <p style ="color:black; " >I first defined the type of information I was trying to explore in relation to autonomous vehicles and sketched out some ideas for how the probes could look. I used Adobe illustrator to create the probe sheets. Once I had created the design probes, I recruited participants and provided them with materials. I took their responses and reflected upon them, drawing key insights from what they had provided. One of the intriguing insights related to probe 3 was the idea of tracking memories from road trips in their car and their car having the ability to contribute to these trips. I decided to develop this as a feature as part of an autonomous car application. I designed the overall app as a horizontal prototype and the road trips feature as a vertical prototype using Figma. </p>
        <br>
     <H2 class="MainProjectHeaderText" style ="color:black;">Tools & Techniques</H2>
            <hr style ="border: 1px solid; color:#68020c">
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black; ">Research</H5><p style ="color:black;"> Literature review
            <a style ="color:#68020c;">&bull;</a> Online Observation
            <a style ="color:#68020c;">&bull;</a> Design Probes</p>
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black; ">Design Methods</H5>
           <p style ="color:black;"><a style ="color:#68020c;">&bull;</a> Brainstorming 
           <a style ="color:#68020c;">&bull;</a> Mind mapping 
            <a style ="color:#68020c;">&bull;</a> Flow Diagrams 
            <a style ="color:#68020c;">&bull;</a> Sketching 
            <a style ="color:#68020c;">&bull;</a> Prototyping</p>
            <br>
            <H5 class="SubProjectHeaderText" style ="color:black;">Build</H5>
            <p style ="color:black;"> Adobe Illustrator 
            <a style ="color:#68020c;">&bull;</a> Figma </p>
            <br>
            
            
        
        <br>
        <H2 style ="color:black; font-weight: 300;">Process</H2>
        <hr style ="border: 1px solid; color:#68020c">
        <div>
        <img src="images/Probes/Process.png" alt="Background_Bottom" style="text-align: center;object-fit: cover ;">
       </div>
       <br>
        
   
    <br>
        <H2 class="MainProjectHeaderText" style ="color:black; font-weight: 300;">What are Design Probes?</H2>
        <hr style ="border: 1px solid; color:#68020c">
        <br>
        <p style ="color:black; ">Design probes are a form of participatory design where participants are provided with items that prompt them to provide information about their lifestyle and feelings. They are an indirect and sometimes provocative way for learning about a group of people and can uncover insights that designers often don’t think to ask about in a traditional interview. They are often seen as a good starting point for opening up a dialog with participants.   </p> 
        <br>
    <br>
        <H2 class="MainProjectHeaderText" style ="color:black; font-weight: 300;">What I developed</H2>
        <hr style ="border: 1px solid; color:#68020c">
        <br>
        <H5 class="SubProjectHeaderText" style ="color:black;">Probes</H5>
        <p style ="color:black; ;">The probes I developed consisted of 6 task sheets and an introduction sheet. I created these in Adobe Illustrator and wanted to make them colourful, animated and engaging. I had learned that the more effort that is put into making the probes generally results in more effort in response to them. The tasks were split up in two sessions. I provided three task sheets to participants in week 1 and 3 tasks sheets to participants in week 2 in order to lighten the load. I hoped that participants would be less inclined to rush the probes if there were less to get through.</p>
        <br>
        <H5 class="SubProjectHeaderText" style ="color:black;">Autonomous vehicle app/feature</H5>
        <p style ="color:black; ;">The design probes resulted in some very interesting insights about travel and provided some direction for autonomous car design. I was most interested by an idea of cars being associated with road trips which was highlighted by multiple participants in probe 3. I decided to prototype an app for an autonomous car but focused specifically on developing a trips feature which would allow users to create and share memories. </p>
        <p style ="color:black; ;">This feature would act like a social media app and could allow users to share trips with friends or keep them for personal viewing. Security and privacy was an important consideration for designing this application. One of the probe responses talked about the car being able to take photos as it drives which is something that was implemented as part of the app. The autonomous car could be used to take 360* photos/videos and using AI could automatically contribute to trips if enabled by the user. The trips feature also included an explore section which allows the user to choose a location and view public trips in that area. I felt that this would be a great way to find things to do and points of interest in a new location. </p>

     <br> 
  <br> 
  
      </div>
      
      
      <div class="col-sm-2" ></div>

   
      </div>


      
    </div>
   
  
    
    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1 "></div>
      <div class="col-sm-4 ">
        <H3 class="MainProjectHeaderText" style ="color:white;text-align: center; font-weight: 300;">Introduction Probe</H3>
        <br>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">The introduction probe was intended to thank participants for their time as well as to provide some context about the exercise they were about to take part in. It let them know how they were meant to work through the probes. It was also intended to prompt the participant to think freely, be open minded and to be comfortable with any response they provide. In some cases the more obscure responses are the most insightful. </p>
        </div>
        <div class="col-sm-2 "></div>
        <div class="col-sm-4">
            <img class="d-flex h-100" src="images/Probes/IntrotoProbes.png" alt="Intro" style ="padding-left: 1%;padding-right: 1%;">
</div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row" style="margin-top:75px;background-color:white;padding-top: 75px;padding-bottom: 75px">
          <div class="col-sm-1 "></div>
      <div class="col-sm-4">
            <H3 class="MainProjectHeaderText" style ="color:Black;text-align: center; font-weight: 300;">Probe 1</H3>
            <br>
            
            <p style ="color:black;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Probe 1 was aimed at gathering some direction in terms of how an autonomous car interior should be designed. The participants were asked to draw the inside of their ideal cabin which they would be spending a significant amount of time and travelling great distances in. I refrained from letting the participants know that this was a car design as I was concerned that preconceived ideas of how car interiors should be might influence the participants response. In my prior research I noticed that many speculative autonomous car concepts were somewhat similar to conventional car interior design and wanted to get away from this. </p>
    
            </div>
            <div class="col-sm-2 "></div>
            <div class="col-sm-4">
                <img class="d-flex h-100" src="images/Probes/Probe1.png" alt="Probe1" style ="padding-left: 1%;padding-right: 1%;">
            </div>
    </div>

              </div>
              <div class="col-sm-1"></div>
              </div>
              

    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-4"> 
        <H3 class="MainProjectHeaderText" style ="color:white;text-align: center; font-weight: 300;">Probe 2</H3>
        <br>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Probe 2 was created in response to prior research which highlighted a sense of discomfort that passengers can have with autonomous vehicles. I wanted to try and find out what makes passengers feel safe on different forms of transport. </p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <img class="d-flex h-100" src="images/Probes/Probe2.png" alt="Probe2" style ="padding-left: 1%;padding-right: 1%;">
</div>
<div class="col-sm-1"></div>
</div>


<div class="row" style="margin-top:75px;background-color:white;padding-top: 75px;padding-bottom: 75px">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
          
    <H3 class="MainProjectHeaderText" style ="color:rgb(0, 0, 0); text-align: center; font-weight: 300;">Probe 3</H3>
    <br>
    <p style ="color:black;padding-left: 5%;padding-right: 5%"  class ="desctiptiveText">For Probe 3 I wanted to learn about the form of interaction that a user might have with their autonomous car and the kind of information that might be presented to them. I suggested to the participants that their car has started its own website and asked them to list the kinds of things they could use the website for. I hoped that this would invoke some more creative responses. </p>
  </div>

  <div class="col-sm-2"></div>
<div class="col-sm-4" >

    <img class="d-flex h-100" src="images/Probes/Probe3.png" alt="Probe3" style ="padding-left: 1%;padding-right: 1%;">
      </div>
        <div class="col-sm-1"></div>
         
    </div>



    

    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <H3 class="MainProjectHeaderText" style ="color:white;text-align: center; font-weight: 300;">Probe 4</H3>
        <br>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Probe 4 revisited the task in probe 1. This would be carried out in the following week. The participant is asked to redesign their cabin from probe 1 taking into account that they will now be sharing the cabin some days of the week. I thought that this would highlight the important aspects of their design and reemphasise what they value. </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img class="d-flex h-100" src="images/Probes/Probe4.png" alt="Probe4" style ="padding-left: 1%;padding-right: 1%;">
        </div>
        <br>
        <br>
        <br>
        <br>
        </div>
        <div class="col-sm-1"></div>
    </div>

    </div>

    <div class="row" style="margin-top:75px;background-color:white;padding-top: 75px;padding-bottom: 75px">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          
          <H3 class="MainProjectHeaderText" style ="color:rgb(0, 0, 0); text-align: center; font-weight: 300;">Probe 5</H3>
          <br>
          <p style ="color:black;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Probe 5 was  intended to highlight the aspects of luxury travel that participants would most highly value. The participant is told that they’ve been upgraded to first class and asked what aspects of their flight they’re most looking forward to. </p>
  </div>
            <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <img class="d-flex h-100" src="images/Probes/Probe5.png" alt="Probe5" style ="padding-left: 1%;padding-right: 1%;">
            </div>
            <div class="col-sm-1"></div>
            </div>
          
      
      </div>

      <div class="row no-gutters" style="margin-top:75px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <H3 class="MainProjectHeaderText" style ="color:white;text-align: center; font-weight: 300;">Probe 6</H3>
            <br>
          <p style ="color:white;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Probe 6 asks participants to share photos of the things that they always want to have with them when they travel. I asked them to exclude phone wallet and keys as I felt these would be obvious answers. </p>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <img class="d-flex h-100" src="images/Probes/Probe6.png" alt="Probe6 " style ="padding-left: 1%;padding-right: 1%;">
            </div>
          <div class="col-sm-1"></div>
      </div>
  
      </div>
      
    
    <div class="row" style="margin-top:75px;background-color:white;padding-top: 75px;padding-bottom: 175px">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          
          <H3 class="MainProjectHeaderText" style ="color:rgb(0, 0, 0); text-align: center; font-weight: 300;">App</H3>
          <br>
          <p style ="padding-bottom: 35px;color:black;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText">Following on from the probe participation and assessment of the responses I designed an app which would be used to control an autonomous vehicle. I specifically focused on a trips feature which would allow users to create memories which consist of photos and videos from journeys they’d been on. One of the challenges of this app was the amount of information and tasks that it would need to manage. I decided to split the app into a profile and car section. One of the challenges of this app was the amount of information and tasks that it would need to manage. I decided to split the app into a profile and car section where users would control journeys, passenger access, interior control and information related to their vehicle. </p>
  </div>
  <div class="col-sm-2"></div>
  <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel" style ="width:100%; height:630px; padding-left: 1%;padding-right: 1%;">
                    <ol class="carousel-indicators" >
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
                      
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/1.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Feed - Menu Collapsed</p>
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/2.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            
                        <p style="text-align: left">Feed - Menu Expanded</p>
                        
                        </div>
                      </div>
                      <div class="carousel-item " style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/3.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Explore</p>
                        </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/4.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Explore</p>
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/5.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Explore</p>
                        
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/6.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p  style="text-align: left">Add Post - Select Trip</p>
                    </div>
                      </div>
                      
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/7.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Add Post</p>
                        
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/8.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Add Post - Choose car</p>
                        
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/9.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Add Post - Live Camera</p>
                       
                        </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/10.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Add Post - Recorded footage </p>
                        </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/11.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                        <p style="text-align: left">Add Post - Recorded footage</p>
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/12.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Review Post</p>
                            
                            
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/13.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">My Trips</p>
                    </div>
                      </div>
                      
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/14.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">New Trip</p>
                    </div>
                      </div>
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/15.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">New Trip</p>
                    </div>
                      </div>
                      
                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/16.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">New Trip</p>
                    </div>
                      </div>

                      <div class="carousel-item" style= "height:625px;">
                        <img class="d-block w-100" src="images/Autonomobile_UI/17.png" alt="Feed" style="padding-bottom: 75px;padding-top: 4px">
                        <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Connect to car</p>
                    </div>
                      </div>
                    </div>
                    
                    <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                
                
                </div>
               </div>   
                
 





  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


  </body>
</html>
  

