<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
        <link rel="shortcut icon" type="image/png" href="images/TD2.png">
       
</head>

<style>
    body{
        background-color: #106802;
        background-image: linear-gradient(to bottom right, #1a780b,#40bd2d);
        
    }
   
    p{
      /*font-family: futura-lt-w01-book,sans-serif;*/
      /*font-family: Avenirnext, sans-serif;*/
      font-family: 'Lato', sans-serif;
      line-height: 1.8;
    }

    .parallax {
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
        width:100%;
  background-image: url('/images/ROGApp/OldHeadCover.jpg');
}
    


    
</style>


<body>
    
  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:white;text-align:center;"><a href="/Projects.html">Golf Rules</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
        
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">My Work</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
     <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;"> 
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
      <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    
    
  </div>


  
  <div class="row">
    
        
          
          <div class="col-sm-12"  style="height: 390px;text-align: center; ">
            <div class="parallax">
            <br>
           <br>
           <br>
           <br>
           <br>
                <H1 style ="color:rgb(113, 113, 113);padding-left: 5px;padding-right: 5px;font-weight: 100;">Golf Rules</H1>
            
          </div>
        </div>
        
        
       
        </div>
        <div class="row" style="background-color:white;padding: 20px;">
          <div class="col-sm-2" ></div>
        <div class="col-sm-8" >
            <H3 style ="color:black;font-weight: 300;">Background</H3>
            <hr style ="border: 1px solid; color:#106802">
            
        <p style ="color:black; " >For this project I developed an app that would act as an interactive digital rule book for the rules of golf. This project was carried out during the second semester of my masters as part of a module which focused on creating an interactive prototype without the use of wireframing tools such as Figma or Sketch. I started by identifying an issue that I needed to solve. Given that one of my biggest passions is golf, I started thinking about the game and the problems that I’ve experienced. I started to think about the occasions when I or my partners had been confused about the rules whilst playing, particularly in the middle of competitions. I remembered the stress of playing with strangers and being concerned that I didn’t fully understand the rules or etiquette. I thought that with a user experience focused approach, an interactive rules of golf app could enhance and modernize the experience especially for new golfers. </p>
        <br>
        <H3 style ="color:black;font-weight: 300;">Design Process</H3>
        <hr style ="border: 1px solid; color:#106802">
        <p style ="color:black; ">I felt that there were three important aspects of the app design which I needed to achieve in order for it to be successful. It first needed to have an effective method of interaction where users could quickly identify rules, knowing where they are where they’ve been. I thought about users being on a golf course, conscious of the pace of play. A user should ideally be able to identify a rule in seconds. Secondly the information needed to be organized in an efficient way. In some cases, rules needed to be repeated given that they could fall under a range of categories. Third, the information that is presented to the user when they reach a rule needed to be consumable. I wanted to explain rules in a way that someone totally new to the game would understand.</p> 
        <p style ="color:black; ">I first did some research to find inspiration for a navigation method. I decided upon a side nav breadcrumb trail which would be present as the user navigates through the categories. This would allow the user to quickly jump back through several categories if necessary. I then moved on to designing the data structure. I used an app called Mural to organize the rules of golf and the categories they would fall under. I used the official R&A website to find the rules. Using this website highlighted to me how difficult it would be to identify and understand the rules in real time. I started to organize rules into categories. Once I’d completed this process, I chose a subsection of rules that I would complete. I was not going to have time to cover the entire set of rules. </p>
        <br>
    
        <H3 style ="color:black;font-weight: 300;">Execution</H3>
        <hr style ="border: 1px solid; color:#106802">
        <p style ="color:black; ">I chose to create the prototype by building a website. I thought that this would allow me to easily share the prototype with people for testing. I created the site locally using Jekyll and wrote the site from scratch before moving it onto GitHub. I started out using bootstrap framework but found that I was running into too many issues with the layout structure and so moved away from using it and wrote my own CSS. I built the website specifically for mobile scaled devices since it was intended to represent a mobile app. I tested the colour options in my garden. I chose orange and blue colours because they created strong contrast with the grass where the app would mainly be used. Unfortunately, I carried out this project in the midst of a Covid-19 lockdown, so I didn't get to do on course testing. </p>
        

  <br> 
  
      </div>
      
      
    <div class="col-sm-2" ></div>

   
      </div>


      
    </div>
    
    
  
  
    
    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1 "></div>
      <div class="col-sm-3 ">
        <H4 style ="color:white;text-align: center;font-weight: 300;">App</H4>
        <br>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;" class ="desctiptiveText">The app covers golf rules, etiquette, and terminology. There is a section called ‘essential rules’ which covers information that a new golfer should know. There are many rules and etiquettes in golf that most people would be unaware of unless specifically told. </p>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;" class ="desctiptiveText">The goal of the app is to make new and old golfers feel more comfortable and confident playing the game and to hopefully make golf more accessible.</p>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;"  class ="desctiptiveText"><a href="https://tony8egan.github.io/RulesOfGolf/Home" style ="text-decoration: underline;" target="_blank">Link to Rules of Golf App.</a> Note: website is designed for mobile devices. </p>
             
    </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-6">
            <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                  
                  
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img1.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Home</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img2.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                        
                    <p style="text-align: left">Categories</p>
                    
                    </div>
                  </div>
                  <div class="carousel-item " style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img3.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Categories</p>
                    </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img4.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Categories</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img5.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Categories</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img6.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p  style="text-align: left">Rule</p>
                </div>
                  </div>
                  
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img7.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Rule</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img8.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Rule</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="../images/ROG_Webimages/img9.png" alt="Feed" style="padding-bottom: 75px;padding-top: 6px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Rule</p>
                   
                    </div>
                  </div>
                  
           
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            
            
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-12" style="height:65px;"></div>
        </div>

       
                
 





  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>
    
    
     <script>
    var bg = $("#bg1, #bg2");

function resizeBackground() {
    bg.height($(window).height());
}

$(window).resize(resizeBackground);
resizeBackground();
    </script>

    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


  </body>
</html>
  

