---
---



<html style ="background-image: url('https://github.com/Tony8egan/TonesDesigns/blob/gh-pages/images/purple.jpg')">



<style>
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

html{

    background-position: center;

}

body
{

    }

    main{
    
    
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    }

 
    a, p, ul, ol li, h1, h2, h3, h4, h5, h6 {
        font-family: 'Oxanium' ;
        
       }
</style>


<main>
<div>
<H1 style = "text-align: center;">Welcome to Tones Designs</H1>
<a href = "https://tony8egan.github.io/TonesDesigns/Home.html", style = "text-decoration:none;color:white;text-align: center;margin: auto;display:block;">Click here to get Started</a>
<br>

</div>
</main>


</body>
</html>