<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
        <link rel="shortcut icon" type="image/png" href="images/TD2.png">
        
       <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">


    
        
       
</head>

<style>
    body{
        background-color: #00FFDB;
        background-image: linear-gradient(to bottom right, #00FFDB,#168c7c);
        font-size: 18px;
    }
   
    p{
      /*font-family: futura-lt-w01-book,sans-serif;*/
      /*font-family: Avenirnext, sans-serif;*/
      font-family: 'Lato', sans-serif;
      line-height: 1.5;
    }
   
    .parallax {
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  background-image: url('/images/Malstria/MalstriaCover3.jpg');
}


    
</style>


<body>
    
  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:white;text-align:center;font-family: 'Lexend Deca', sans-serif; font-weight:200"><a href="/Projects.html">Malstria</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
        
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">My Work</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">
    <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
    
    
  </div>


  
  <div class="row">
    
        
          
          <div class="col-sm-12 "  style="text-align: center; height:390px">
            <div class="parallax">
            <br>
           <br>
           <br>
           <br>
           <br>
                <H1 style ="font-family: 'Lexend Deca', sans-serif;color:rgb(255, 255, 255);padding-left: 5px;padding-right: 5px;font-weight: 100;">Malstria</H1>
            
          </div>
        </div>
        
        
       
        </div>
        <div class="row" style="background-color:white;padding: 20px; padding-bottom: 35px">
          <div class="col-sm-2" ></div>
        <div class="col-sm-8" style ="padding-left: 5%;padding-right: 5%;">
            <H2 class="MainProjectHeaderText" style ="color:black;font-weight: 300;">Background</H2>
            <hr style ="border: 1px solid; color:#00FFDB">
            
        <p style ="color:black; " >Malstria was designed as part of a group project for a module that focused on the fundamentals of design. The project was broken into two separate assignments, the first part was to define a problem and design a prototype in response to this problem as a group. The second assignment was to do a round 2 redesign after testing the first prototype as individuals. This page primarily covers the second prototype that I worked on as an individual. </p>
        <br>
        <H2 class="MainProjectHeaderText" style ="color:black;font-weight: 300;">The Problem</H2>
        <hr style ="border: 1px solid; color:#00FFDB">
        <p style ="color:black; ">This project took place in the midst of a Covid-19 lockdown. One of the challenges I had experienced at this time was difficulty exercising at home given that I usually would go to a gym with a range of equipment. This reminded me of the times when I started exercising and was not sure of what I needed to do to achieve my goals and needed to repeatedly pay close attention to videos on Youtube to manage the correct form. </p> 
        <br>
    
        <H2 class="MainProjectHeaderText" style ="color:black;font-weight: 300;">The Solution</H2>
        <hr style ="border: 1px solid; color:#00FFDB">
        <p style ="color:black; ">The solution we came up with was Malstria. This was an exercise mirror which would allow users to input the equipment that was available to them at home and the types of exercise goals they want to achieve. Based on their input, the system would present a range of exercises that the user can do. The user could even log household items as equipment. The mirror would demonstrate perfect form to the user, imposing an opaque life-sized frame as they perform the exercise. The system would grade the user’s performance at the end of each exercise or workout. The user would be able to do quick workouts or saved workouts. The mirror could be controlled by a mobile app which would store all this information, meaning that users can connect with other Malstria mirrors and carry out new or existing workouts. </p>
        <p style ="color:black; ">The product’s name refers to Etruscan bronze mirrors which were known as ‘Malstria’. These mirrors were both practical and luxury items and were often decorated with scenes of Greek mythology.</p> 
        
  <br> 
  <br> 
  
      </div>
      
      
    <div class="col-sm-2" ></div>
 
    <div class="col-sm-4" ></div>
    <div class="col-sm-4" >
    <img src="/images/Malstria/MalstriaCover2.jpeg">   
</div>
<div class="col-sm-6" ></div>

</div>


      
    </div>
    
    
    
    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1 "></div>
      <div class="col-sm-3 ">
        <H3 class="MainProjectHeaderText" style ="color:white;text-align: center;font-weight: 300;">Mirror</H3>
        <br>
        <p style ="color:white;padding-left: 5%;padding-right: 5%;" class ="desctiptiveText">I created and tested the first mirror prototype using paper and blu tac on an existing mirror. One of the big complaints was the idea of touching a mirror and leaving smudge marks. My second prototype featured a wheel on the back of the mirror for controlling it as well as having voice control. The user can toggle through options by rolling the wheel and pull it inwards to make a selection. The mirror can be controlled by a mobile app, but I didn’t feel that the user should be totally dependent on this as a form of interaction. I did my design for the second prototype using sketch.  </p>
       
    </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-6">
            <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel"  style ="width:100%; height: 624px; padding-left: 1%;padding-right: 1%;">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                  
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img1.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">User select</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img2.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                        
                    <p style="text-align: left">Home</p>
                    
                    </div>
                  </div>
                  <div class="carousel-item " style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img3.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Featured</p>
                    </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img4.png" alt="Feed" style="height:95%;padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">My Workouts</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img5.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">My Workouts</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img6.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p  style="text-align: left">My Workouts</p>
                </div>
                  </div>
                  
                  <div class="carousel-item" style= "height:625px;">
                    <br>
                    <br>
                    <br>
                    
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img7.png" alt="Feed" style="height:82%;padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">My Workouts</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img8.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">My Workouts</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img9.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Wheel</p>
                   
                    </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/Malstria/Mirror/Img10.jpg" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Prototype 1</p>
                   
                    </div>
                  </div>
                  
           
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            
            
            </div>
            
        </div>

        <div class="row" style="margin-top:75px;background-color:white;padding-top: 75px;padding-bottom: 75px">
            <div class="col-sm-1 "></div>
            <div class="col-sm-3 ">
              <H3 class="MainProjectHeaderText" style ="color:rgb(0, 0, 0);text-align: center;font-weight: 300;">Mobile App</H3>
              <br>
              <p style ="color:rgb(0, 0, 0);padding-left: 5%;padding-right: 5%;" class ="desctiptiveText">The app is used to manage a user’s account, manage their equipment, and connect to and control mirrors. The user can create and edit their workouts anywhere any time. I carried out some research on colour usage in gyms and found that according to behavioral psychologists, colours can have an impact on a person’s mindset. Bright neon colours, particularly blues, greens and oranges are used in gyms as they are psychologically energizing and motivational colours and so I followed this principle for the colour palette of the app while also maintaining a good contrast for readability. I primarily used teal colours as a combination of blue and green.</p>
             
          </div>
              <div class="col-sm-1 "></div>
              <div class="col-sm-6">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  style ="width:100%; height: 624px; padding-left: 1%;padding-right: 1%;">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
                        
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img1.png" alt="Log in" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Log In</p>
                      </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img2.png" alt="Home" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                              
                          <p style="text-align: left">Home</p>
                          
                          </div>
                        </div>
                        <div class="carousel-item " style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img3.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Mirror manage</p>
                          </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img4.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Progress</p>
                      </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img5.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Progress</p>
                          
                      </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img6.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p  style="text-align: left">Equipment</p>
                      </div>
                        </div>
                        
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img7.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Equipment</p>
                          
                      </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img8.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Equipment</p>
                          
                      </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                          <img class="d-block w-100" src="/images/Malstria/Mobile/Img9.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                          <div class="carousel-caption d-none d-md-block">
                          <p style="text-align: left">Workouts</p>
                         
                          </div>
                        </div>
                        <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img10.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p  style="text-align: left">Create Workout</p>
                        </div>
                          </div>
                          
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img11.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                            
                        </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img12.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                            
                        </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img13.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img14.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img15.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                            
                        </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img16.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img17.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img17B.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img18.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img19.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Create Workout</p>
                           
                            </div>
                          </div>
                          <div class="carousel-item" style= "height:625px;">
                            <img class="d-block w-100" src="/images/Malstria/Mobile/Img20.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                            <div class="carousel-caption d-none d-md-block">
                            <p style="text-align: left">Featured Workouts</p>
                           
                            </div>
                          </div>
                 
                      </div>
                      
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  
                  
                  </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-12" style="height:65px;"></div>
              </div>

       
                
 





  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


  </body>
</html>
  

