<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Photography</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
         <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
         <link rel="icon" type="image/png" href="images/TD2.png?">
    <link rel="shortcut icon" type="image/png" href="images/TD2.png?">
       
   </head>
   
    <body style ="background-color:rgb(232, 232, 232);">
        <header>
          <nav class="navbar fixed-top">
            <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
                <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
                <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
                <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
            </div>
            
              <H2 style="color:white;text-align:center;"><a href="/Projects.html">Photography</a></H2>
              
              
          </nav>
        </header>


        <div class="container">
          

            <div class="row" style="margin-top:30px;">
              <div class="col-sm-2 "></div>
                <div class="col-sm-8 ">
                
                <H4 style ="color:black">Photography</H4>
            <p class ="desctiptiveText" style ="color:#000000">Here's some of my photography and photoshop work. I took and edited these photos as part of a module 
                for my Masters in Interaction and Experience design. The theme for this project was 'Life' and I edited the photos using Adobe photoshop.</p>
                    <br>
                    <p class ="desctiptiveText" style ="color:#000000">By the end of this project, I had learned about manipulating exposure
                    to try and get the best quality photos as well as how to modify the files from raw format in Photoshop. </p>
                    <br>
                <p class ="desctiptiveText" style ="color:#000000">Click on the images to view them in full screen.</p>
                    

                </div>
              </div>

                <div class="row">

                    
            
        
       



    
    
        <figure class="col-sm-6">
            <a href="images/Photography/UFO.jpg" class="imageButton">
              <img src="images/Photography/UFO.jpg" alt="Lost image" style="object-fit: cover;margin-top:20px;border: 2px solid black;border-radius: 1px;">
              
            </a>
            
        </figure>
     


      <figure class="col-sm-6">
        <a href="images/Photography/Leaves.jpg" class="imageButton">
          <img src="images/Photography/Leaves.jpg" alt="Lost image" style="object-fit: cover;margin-top:20px;border: 2px solid black;border-radius: 1px;">
          
        </a>
    
      </figure>
      <figure class="col-md-6">
    <a href="images/Photography/DromolandCastle.jpg" class="imageButton">
      <img src="images/Photography/DromolandCastle.jpg" alt="Lost image" style="object-fit: cover;margin-top:20px;border: 2px solid black;border-radius: 1px;">
    </a>
    </figure>
    <figure class="col-sm-6">
  <a href="images/Photography/Tree.jpg" class="imageButton">
  <img src="images/Photography/Tree.jpg" alt="Lost image" style="object-fit: cover;margin-top:20px;border: 2px solid black;border-radius: 1px;">
  </a>
    </figure>
    <figure class="col-sm-6">
    <a href="images/Photography/Swans.jpg" class="imageButton">
      <img src="images/Photography/Swans.jpg" alt="Lost image" style="object-fit: cover;margin-top:20px;border: 2px solid black;border-radius: 1px;">
      
    </a>
</figure>

</div>
</div>
    

    <br>
    <br>
    <br>
    <br>





        <div id="mySidenav" class="sidenav" style ="color: white;background-image: url('/images/teal.jpeg');">
    
          
          
          <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
          <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
          <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">Projects</a>
          <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
          
          
        </div>





  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
 
  






  <script>
  
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>
