<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
      <link rel="shortcut icon" type="image/png" href="images/TD2.png">
       
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">

        
  
        
              
   </head>

   <style>
    body{
        /*background-color: #222222;
        background-image: linear-gradient(to bottom right, #50514F, #202439);*/
        background-color: #ffffff;
    }
</style>

    <body>
        <header>
          <nav class="navbar fixed-top">
            <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
                <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
                <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
                <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
            </div>
        
             <H2 style="color:#00d7c8;text-align:center;font-family: 'Lexend Deca', sans-serif; font-weight:800">My Work</H2>
              
              
          </nav>
        </header>


        <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
          
          <a href="Home.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;">Home</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
          <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
          <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;color:red">My Work</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
          <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
          <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
          <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%;margin-right: 20%;">  
          
          
        </div>

        <div class= "container">
            <div class="row" >
              <div class="col-sm-12">
                <br>
                <br>
                
                <br>
                <H2 style ="color:rgb(0, 0, 0)">2022</H2>
                <hr style ="border: 3px solid rgb(0, 0, 0);">
              </div>
              <div class="col-sm-1"></div>
        
              <div class="col-sm-4" style="margin-top:35px">
                
                  <a href="/APIPlayground.html">
                    <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
          
                    <img src="images/API/API.jpeg" class ="imageButton" alt="Lost image" style="object-fit: cover;border-radius: 2px;background-color: black; height: 300px">
                    </div>
                    <H2 style ="color:black;padding-top: 3px;">API Playground</H2>
                    
                    <p style ="color:rgb(0, 0, 0);font-weight: 400;">This is an area where I've done some work with API's that are available.</p>
                  </a>
              </div>
              </div>
            
        <div class="row" >
          <div class="col-sm-12">
            <br>
            <br>
            
            <br>
            <H2 style ="color:black;">2021</H2>
            <hr style ="border: 0px;height:7px;background:black" >
          </div>
          <div class="col-sm-1"></div>
    
          <div class="col-sm-4" style="margin-top:35px">
            
              <a href="/Thesis.html" >
                  <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
                <img src="images/Thumb.jpg" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
                  </div>
                <H2 style ="color:black;padding-top: 2px;">Thesis</H2>
                
                <p style ="color:black;font-weight: 400;">The work life balance monitor. A device that aims to help people working from home to create greater distinction between work and non work time.</p>
              </a>
          </div>
          <div class="col-sm-2"></div>
          
          <div class="col-sm-4"  style="margin-top:35px">
            
            <a href="/DesignProbes.html">
                <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
            <img src="images/Group33.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
                </div>
                    <H2 style="color:black;padding-top: 2px;" >Design Probes</H2>
            <p style ="color:black;font-weight: 400;">An exercise in participatory design and user research. Using design probes to understand more about people in relation to the future of autonomous vehicles.</p>
          </a>
          </div>
          
          
        <div class="col-sm-1"></div>
    
    <div class="col-sm-1"></div>
    
          <div class="col-sm-4" style="margin-top:35px">
            
              <a href="/GolfRules.html">
                  <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
                <img src="images/Group35.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
                  </div>
                      <H2 style ="color:black;padding-top: 2px;">Golf Rules</H2>
                <p style ="color:black;font-weight: 400;">An interactive rulebook for the game of golf. Making the game easier and more accessible for new and existing golfers.</p>
              </a>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4"  style="margin-top:35px">
            
          <a href="/SweepCity.html">
              <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
            <img src="images/Group34.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
              </div>
            <H2 style ="color:black;padding-top: 2px;">Sweep City</H2>
            <p style ="color:black;font-weight: 400;">An app that aims to educate the children of Sri Lanka about the importance of waste management through fun and engaging activities.</p>
          </a>
          </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12">
          <br>
          <br>
          <H2 style ="color:black;">2020</H2>
          <hr style ="border: 0px;height:7px;background:black" >
        </div>
        <div class="col-sm-1"></div>
    
          <div class="col-sm-4"  style="margin-top:35px">
            <a href="/Malstria.html">
                <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
              <img src="images/Malstria/MalstriaCover.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;border: 1px solid black;">
                </div>
                    <H2 style ="color:black;padding-top: 2px;">Malstria</H2>
              <p style ="color:black;font-weight: 400;">An exercise mirror and mobile application that guides users in achieving their fitness goals with any equipment available to them. </p>
            </a>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4"  style="margin-top:35px">
            <a href="/AudioStory.html">
                <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
              <img src="images/Audiostory2.jpg" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
                </div>
                    <H2 style ="color:black;padding-top: 2px;">Audio Story</H2>
              <p style ="color:black;font-weight: 400;">Being creative with noise. Telling a story using only sounds.</p>
            </a>
          
          </div>
          <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    
          <div class="col-sm-4"  style="margin-top:35px">
            <a href="/ImpulseDetector.html" >
                <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
            <img src="images/ImpulseDetector.png" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black; ">
                </div>
          <H2 style ="color:black;padding-top: 2px;">Impulse Detector</H2>
          <p style ="color:black;font-weight: 400;">A speculative design which uses our bodily information to influence the devices we interact with.</p>
        </a>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4"  style="margin-top:35px">
            <a href="/Photography.html" >
                <div class="framed" style="object-fit: cover;background-color: black; height: 300px;width:100%">
              <img src="images/Photography/Tralee.jpg" class ="imageButton" alt="Lost image" style="object-fit: cover;background-color: black;">
                </div>
              <H2 style ="color:black;padding-top: 2px;">Photography</H2>
              <p style ="color:black;font-weight: 400;">Some pictures I've taken that I like.</p>
            </a>
          
          </div>
    
    </div> 
   <br>
   <br>
   <br>
    </div>



  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
 
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


</body>
</html>
