---
---


<body style = "margin:0;background-image: url('images/GolfBackground.jpeg');background-position:center;">


    <script>
        function myFunction(x) {
          x.classList.toggle("change");
        }
        </script>
      <script>
        function toggleText() {
          var text = document.getElementById("PersonalCaddy");
          if (text.style.display === "none") {
            text.style.display = "block";
          } else {
            text.style.display = "none";
          }
        }
        </script>
      
      <script>
      
        
      function toggleNav() {
        var element = document.getElementById("mySidenav");
        if (element.style.width == "250px") {
            element.style.width = "0px";
        } else {
            element.style.width = "250px";
        }
      }
      </script>

<style>
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');



.bar1, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  
}

.bar2
{
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  
}

.container {
  display: inline-block;
  cursor: pointer;
  float:left;
  z-index: 2;
  position: fixed;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  
}



TextSection
{
    width:80%;
    float:right;
    font-family: 'Open Sans';
    background-color: rgba(0,0,0,0.75);
    
    border-top-left-radius: 25px;
    
    margin-top:20px;
    padding-left: 20px;
    padding-top:20px;
}

a {
  margin-left: 3px;
  
}

a:hover {
    cursor: pointer;
    color:red;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

    

    LeftPanel
    {
        float:left;
        width: 20%;
        display:block;
        height:100%;
        padding-left: 5px;
        overflow: auto;
      white-space: nowrap;

    }
    DescriptionPanel
    {
        float:right;
        width: 28.25%;
        display:block;
        height:100%;
       padding-left: 5px;
        

    }

    UIsection
    {
        
        float:left;
        width: 45%;
        height: 600px;
        display:block;
       margin: auto;
       margin-left:33%;
        margin-top:100px;
       
    }

    designNav{
    float: right;
    Width: 54%;
    height: 5%;
    background-color: black;
    
    padding-left:20px;
    border-bottom-left-radius: 20px;
}

designNav a{
 
 text-decoration: none;
 color:white;
}

designNav a:hover{
 opacity: 0.5;
 color:white;
}


 
    a,b, p, ul, ol li, h1, h2, h3, h4, h5, h6 {
        font-family: 'Oxanium' ;
        
       }
</style>

<div class="container" onclick="myFunction(this);toggleNav()">
    <div class="bar1" style = "margin-top:20px;margin-left:20px;cursor:pointer"></div>
    <div class="bar2" style = "margin-left:20px;cursor:pointer"></div>
    <div class="bar3" style = "margin-left:20px;cursor:pointer;"></div>
</div>


<designNav>
  <b style ="color:white;text-align: center; font-size:25px;"> Personal Caddy</b>
  <a style ="color:white;font-size:25px;"> | </a>
  <a href ="TonesDesigns/Surface.html", style ="text-align: center; font-size:25px;"> Surface</a>
  <a style ="color:white;font-size:25px;"> | </a>
  <a href ="TonesDesigns/Skeleton.html", style ="text-align: center; font-size:25px;">Skeleton</a>
  <a style ="color:white;font-size:25px;"> | </a>
  <a href ="TonesDesigns/Structure.html", style ="text-align: center; font-size:25px;">Structure</a>
  <a style ="color:white;font-size:25px;"> | </a>
  <a href ="TonesDesigns/Scope.html", style ="color:red;text-align: center; font-size:25px;opacity:1">Scope</a>
  <a style ="color:white;font-size:25px;"> | </a>
  <a href ="TonesDesigns/Strategy.html", style ="text-align: center; font-size:25px;">Strategy</a>
  </designNav>




    

    


<div id="mySidenav" class="sidenav" style ="color: white;background-image: url('images/teal.jpeg');">
    
    <H2>Tones Designs</H2>
    <a href="Home.html", style ="text-decoration: none;color:white">Home</a>
  <a href="#AboutMe" style ="text-decoration: none;color:white"">About Me</a>
  <a style ="text-decoration: none;color:white;transition-delay: 2s;", onclick="toggleText()">Projects</a>
  <a href="TonesDesigns/Surface.html", id="PersonalCaddy", style ="text-decoration:none;font-size:18px;color:white;margin-left: 20px;display: none;">Personal Caddy</a>
  <a href="#Contact", style ="text-decoration: none;color:white">Contact</a>
    
    </navBar>
  </div>


    


<TextSection style ="color:white">


   <b style="font-size:35px;">Scope</b>

    <p>Functional Spec & Content Requirements:</p>
    
        <p> F - User receives distance from point where they stand to where the hole is(also from and back of the green distance)</p>
            <p> C – Requires course/hole length data and GPS tracking</p>
    
                <p> F - User receives golf club recommendation </p>
                    <p>  C – Will access user database to see club recommendation. The user will initially suggest their distance and the system will use algorithms to determine their average distance </p>
    
                        <p>F - User can input a shot taken </p>
                            <p>C – Inputs shot data into database</p>
    
                                <p> F - User can input playing partners score for a hole </p>
                                    <p> C – Inputs shot data into database</p>
    
    
                                        <p>F - User can undo a shot that they mistakenly input</p>
    
                                            <p> F - User can delete holes later on due to misinput </p>
    
                                                <p>F- Hole coaching tool will give users information about the hole and shot they are playing. It will give them recommendations on how to play the next shot based on hole and golfer statistics. It will give feedback such as </p>
                                                    <p>-	Percentage of golfers to hit the green from point of play</p>
                                                        <p> -	Recommendations to lay up or go for the green </p>
                                                            <p>-	Recommendations on where best to aim your shot </p>
                                                                <p>C – Will pull data from Database of all golfers on that course as well as the golfer using the app</p>
    
                                                                    <p>F- The phone will vibrate when walking away from the hole when marking another players card as a reminder to update their score</p>
                                                                        <p>C - Requires course/hole length data and GPS tracking</p>
    
                                                                            <p>F – After a round a user can select – Submit Round which will update their own playing data to the system</p>
                                                                                <p>C - Access to internet and Database</p>
    
                                                                                    <p>F – User creates an account so that their information is stored and they can log in on separate devices. Data can be stored on the Database</p>
                                                                                        <p>C – User provides Email, Full name, Password, DOB, Password</p>
    
                                                                                            <p>F – Player Setup. Player provides golf related information. Can be updated via setup. </p>
                                                                                                <p>C – User Provides Handicap, what’s in the bag(users equipment) and distances, Height, Weight </p>
    
    
                                                                                                    <p>F – When a round is in play, the app defaults to the in golf round mode when opened. </p>


    </TextSection>


</body>


