---
---


<body style = "margin:0;background-image: url('images/GolfBackground.jpeg');background-position:center;">

  <script>
    function myFunction1(x) {
      x.classList.toggle("change");
    }
    </script>
  <script>
    function toggleText() {
      var text = document.getElementById("PersonalCaddy");
      if (text.style.display === "none") {
        text.style.display = "block";
      } else {
        text.style.display = "none";
      }
    }
    </script>
  
  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "250px") {
        element.style.width = "0px";
    } else {
        element.style.width = "250px";
    }
  }
  </script>

<style>
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

.bar1, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  
}

.bar2
{
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  
}

.container {
  display: inline-block;
  cursor: pointer;
  float:left;
  z-index: 2;
  position: fixed;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

a {
  margin-left: 3px;
  
}

a:hover {
    cursor: pointer;
    color:red;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

    

    LeftPanel
    {
        float:left;
        width: 30%;
        
        height:90%;
       
        overflow: auto;
      white-space: nowrap;
      margin-top: 4%;
      margin-bottom: 4%;
      margin-left: 4px;

    }
    DescriptionPanel
    {
        float:right;
        width: 33%; 
        height:90%;
        margin-top: 4%;
        margin-bottom: 4%;
       
        

    }

    UIsection
    {
        
        float:left;
        width: 60%;
        height: 700px;
        display:block;
       margin: auto;
       margin-left:25%;
        margin-top:50px;
        margin-bottom:20%;
        border-radius: 25px;
        border-color:white;
        border-style:solid;
       
    }

    designNav{
    float: right;
    Width: 54%;
    height: 5%;
    background-color: black;
    padding-left:20px;
    border-bottom-left-radius: 20px;
}

designNav a{
 
  text-decoration: none;
  color:white;
}

designNav a:hover{
  opacity: 0.5;
  color:white;
}



 
    a,b, p, ul, ol li, h1, h2, h3, h4, h5, h6 {
        font-family: 'Oxanium' ;
        
       }
</style>



<div class="container" onclick="myFunction1(this);toggleNav()">
  <div class="bar1" style = "margin-top:20px;margin-left:20px;cursor:pointer"></div>
  <div class="bar2" style = "margin-left:20px;cursor:pointer"></div>
  <div class="bar3" style = "margin-left:20px;cursor:pointer;"></div>
</div>

<designNav>
    <b style ="color:white;text-align: center; font-size:25px;"> Personal Caddy</b>
    <a style ="color:white;font-size:25px;"> | </a>
    <a href ="TonesDesigns/Surface.html", style ="text-align: center; font-size:25px;"> Surface</a>
    <a style ="color:white;font-size:25px;"> | </a>
    <a href ="TonesDesigns/Skeleton.html", style ="color:red;text-align: center; font-size:25px;opacity:1">Skeleton</a>
    <a style ="color:white;font-size:25px;"> | </a>
    <a href ="TonesDesigns/Structure.html", style ="text-align: center; font-size:25px;">Structure</a>
    <a style ="color:white;font-size:25px;"> | </a>
    <a href ="TonesDesigns/Scope.html", style ="text-align: center; font-size:25px;">Scope</a>
    <a style ="color:white;font-size:25px;"> | </a>
    <a href ="TonesDesigns/Strategy.html", style ="text-align: center; font-size:25px;">Strategy</a>
    </designNav>




    



<div id="mySidenav" class="sidenav" style ="color: white;background-image: url('images/teal.jpeg');">
    
    <h2>Tones Designs</h2>
    <a href="Home.html", style ="text-decoration: none;color:white">Home</a>
  <a href="#AboutMe" style ="text-decoration: none;color:white"">About Me</a>
  <a style ="text-decoration: none;color:white;transition-delay: 2s;", onclick="toggleText()">Projects</a>
  <a href="TonesDesigns/Surface.html", id="PersonalCaddy", style ="text-decoration:none;font-size:18px;color:white;margin-left: 20px;display: none;">Personal Caddy</a>
  <a href="#Contact", style ="text-decoration: none;color:white">Contact</a>
    
    </navBar>
  </div>

 
    

    
   


    
    <UISection style ="background-color: black;">
        <img id="myImg" src= "images/teal.jpg" alt="Lost" width=35% height=90% style ="margin-top:4%; margin-bottom:4%;border-radius: 16px;">
        
        

    <leftPanel style ="color: grey;background-color: black;">
        <h2 style ="color: white">Design</h2>
       
        <br>
        <a onclick="myFunction()">1:Login Page</a>
        <script>
            function myFunction() {
              document.getElementById("myImg").src = "images/SkeletonMocks/S1.png";
              document.getElementById("DescriptionText").innerHTML = "1:Login Page:<br><br>This is the login of Personal Caddy. From here a user can log in or create an account. A user also has the options to open the reset password menu and look at the Help section"
            }
            </script>
            <br>

            <a onclick="myFunction2()">2:Create Account</a>
            <script>
                function myFunction2() {
                  document.getElementById("myImg").src = "images/SkeletonMocks/S2.png";
                  document.getElementById("DescriptionText").innerHTML = "2:Create Account<br><br>This is the account creation dialog from selecting create account on the login page."
                }
                </script>
                <br>

                <a onclick="myFunction3()">3:Create Account</a>
                <script>
                    function myFunction3() {
                      document.getElementById("myImg").src = "images/SkeletonMocks/S3.png";
                      document.getElementById("DescriptionText").innerHTML = "3:Create Account<br><br>This is continuation of the account creation."
                    }
                    </script>
                    <br>   

                    <a onclick="myFunction4()">4:Account Confirmation</a>
                    <script>
                        function myFunction4() {
                          document.getElementById("myImg").src = "images/SkeletonMocks/S4.png";
                          document.getElementById("DescriptionText").innerHTML = "4:Account Confirmation<br><br>Confirmation that an account has been created."
                        }
                        </script>
                        <br>  

                        <a onclick="myFunction5()">5:Home Page</a>
                        <script>
                            function myFunction5() {
                              document.getElementById("myImg").src = "images/SkeletonMocks/S5.png";
                              document.getElementById("DescriptionText").innerHTML = "5:Home Page<br><br>This is the personal caddy homepage. This is the main menu where the user can access all of the application features."
                            }
                            </script>
                            <br>

                            <a onclick="myFunction45()">6:Settings</a>
                 <script>
                function myFunction45() {
                document.getElementById("myImg").src = "images/SkeletonMocks/S6.png";
                document.getElementById("DescriptionText").innerHTML = "6:Settings<br><br>This is the settings menu."
}
</script>
                             <br>                                                                                                                                             
                                                                                                                                                    
                                                 
                                               
                                                

                                            <a onclick="myFunction11()">7:Edit Account</a>
                                            <script>
                                                function myFunction11() {
                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S7.png";
                                                  document.getElementById("DescriptionText").innerHTML = "7:Edit Account<br><br>This is the edit account section where a user can edit their user information"
                                                }
                                                </script>
                                                <br>
                                    
                                                <a onclick="myFunction12()">8:Edit Account cont.</a>
                                                <script>
                                                    function myFunction12() {
                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S8.png";
                                                      document.getElementById("DescriptionText").innerHTML = "8:Edit Account cont.<br><br>This is the edit account menu after choosing to make an edit"
                                                    }
                                                    </script>
                                                    <br>
                                    
                                                    <a onclick="myFunction13()">9:Custom Settings</a>
                                                    <script>
                                                        function myFunction13() {
                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S9.png";
                                                          document.getElementById("DescriptionText").innerHTML = "9:Custom Settings<br><br>This is the App custom settings. Here the user can modify the app settings."
                                                        }
                                                        </script>
                                                        <br>   
                                    
                                                        <a onclick="myFunction14()">10:FAQ</a>
                                                        <script>
                                                            function myFunction14() {
                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S10.png";
                                                              document.getElementById("DescriptionText").innerHTML = "10:FAQ<br><br>This is the Frequently asked questions menu. From here the user can see questions that may be helpful as well as contact support. "
                                                            }
                                                            </script>
                                                            <br>  
                                    
                                                            <a onclick="myFunction15()">11:FAQ cont.</a>
                                                            <script>
                                                                function myFunction15() {
                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S11.png";
                                                                  document.getElementById("DescriptionText").innerHTML = "11:FAQ cont.<br><br>Here a frequently asked question has been opened to see the answer"
                                                                }
                                                                </script>
                                                                <br>
                                        
                                                                <a onclick="myFunction16()">12:Start A Round</a>
                                                                <script>
                                                                    function myFunction16() {
                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S12.png";
                                                                      document.getElementById("DescriptionText").innerHTML = "12:Start A Round<br><br>This is the new round set up menu. Here a user puts in the course, player,equipment and handicap that they will play with."
                                                                    }
                                                                    </script>
                                                                    <br>  
                                            
                                                                    <a onclick="myFunction17()">13:Add Golfer</a>
                                                                    <script>
                                                                        function myFunction17() {
                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S13.png";
                                                                          document.getElementById("DescriptionText").innerHTML = "13:Add Golfer<br><br>This is the Add Golfer menu when adding a golfer to the round."
                                                                        }
                                                                        </script>
                                                                        <br>
                                                                        <a onclick="myFunction18()">14:Play Mode</a>
                                                                        <script>
                                                                            function myFunction18() {
                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S14.png";
                                                                              document.getElementById("DescriptionText").innerHTML = "14:Play Mode<br><br>This is the in play mode."
                                                                            }
                                                                            </script>
                                                                            <br>  
                                                    
                                                                            <a onclick="myFunction19()">15:Add Score</a>
                                                                            <script>
                                                                                function myFunction19() {
                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S15.png";
                                                                                  document.getElementById("DescriptionText").innerHTML = "15:Add Score<br><br>This is the user adding a score for their own and playing partners."
                                                                                }
                                                                                </script>
                                                                                <br>

                                                                                <a onclick="myFunction20()">16:Add Shot</a>
                                                                                <script>
                                                                                    function myFunction20() {
                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S16.png";
                                                                                      document.getElementById("DescriptionText").innerHTML = "16:Add Shot<br><br>This is the user adding a shot to their round. They are prompted to add the club that they used. "
                                                                                    }
                                                                                    </script>
                                                                                    <br>

                                                                                    <a onclick="myFunction21()">17:Remove Shot</a>
                                                                                    <script>
                                                                                        function myFunction21() {
                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S17.png";
                                                                                          document.getElementById("DescriptionText").innerHTML = "17:Remove Shot<br><br>The user must confirm here that they want to remove the previous shot. This is removed by pressing the minus button"
                                                                                        }
                                                                                        </script>
                                                                                        <br>
                                                                            
                                                                                        <a onclick="myFunction22()">18:Club recommendation</a>
                                                                                        <script>
                                                                                            function myFunction22() {
                                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S18.png";
                                                                                              document.getElementById("DescriptionText").innerHTML = "18:Club recommendation<br><br>This is the club recommendation detail that a user will see when clicking on the club recommendation box in play mode."
                                                                                            }
                                                                                            </script>
                                                                                            <br>
                                        
                                                                                        
                                                                            
                                                                                            <a onclick="myFunction23()">19:CR cont.</a>
                                                                                            <script>
                                                                                                function myFunction23() {
                                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S19.png";
                                                                                                  document.getElementById("DescriptionText").innerHTML = "19:CR cont.<br><br>This is a more in depth view from the club recommendation. This is showing other options to the player after they clicked on one of the recommendations."
                                                                                                }
                                                                                                </script>
                                                                                                <br>   
                                                                            
                                                                                                <a onclick="myFunction24()">20:Scorecard</a>
                                                                                                <script>
                                                                                                    function myFunction24() {
                                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S20.png";
                                                                                                      document.getElementById("DescriptionText").innerHTML = "20:Scorecard<br><br>This is the scorecard view."
                                                                                                    }
                                                                                                    </script>
                                                                                                    <br>  
                                                                            
                                                                                                    <a onclick="myFunction25()">21:Update Score</a>
                                                                                                    <script>
                                                                                                        function myFunction25() {
                                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S21.png";
                                                                                                          document.getElementById("DescriptionText").innerHTML = "21:Update Score<br><br>Updating score from the scorecard menu."
                                                                                                        }
                                                                                                        </script>
                                                                                                        <br>
                                                                                
                                                                                                        <a onclick="myFunction26()">22:Submit card</a>
                                                                                                        <script>
                                                                                                            function myFunction26() {
                                                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S22.png";
                                                                                                              document.getElementById("DescriptionText").innerHTML = "22:Submit card<br><br>Submitting/finishing a round."
                                                                                                            }
                                                                                                            </script>
                                                                                                            <br>  
                                                                                    
                                                                                                            <a onclick="myFunction27()">23:Menu</a>
                                                                                                            <script>
                                                                                                                function myFunction27() {
                                                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S23.png";
                                                                                                                  document.getElementById("DescriptionText").innerHTML = "23:Menu<br><br>This is the menu that is available by clicking on the menu button in a round."
                                                                                                                }
                                                                                                                </script>
                                                                                                                <br>
                                                                                                                <a onclick="myFunction28()">24:Cancel Round</a>
                                                                                                                <script>
                                                                                                                    function myFunction28() {
                                                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S24.png";
                                                                                                                      document.getElementById("DescriptionText").innerHTML = "24:Cancel Round<br><br>A user is prompted to be sure that they want to cancel a round."
                                                                                                                    }
                                                                                                                    </script>
                                                                                                                    <br>  
                                                                                            
                                                                                                                    <a onclick="myFunction29()">25:Round Summary</a>
                                                                                                                    <script>
                                                                                                                        function myFunction29() {
                                                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S25.png";
                                                                                                                          document.getElementById("DescriptionText").innerHTML = "25:Round Summary<br><br>Previous rounds that the user has submitted."
                                                                                                                        }
                                                                                                                        </script>
                                                                                                                        <br>

                                                                                                                        <a onclick="myFunction30()">26:Round Summary cont</a>
                                                                                                                        <script>
                                                                                                                            function myFunction30() {
                                                                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S26.png";
                                                                                                                              document.getElementById("DescriptionText").innerHTML = "26:Round Summary cont<br><br>A scorecard from a previous round"
                                                                                                                            }
                                                                                                                            </script>
                                                                                                                            <br>


                                                                                                                            <a onclick="myFunction31()">27:Hole Summary</a>
                                                                                                                            <script>
                                                                                                                                function myFunction31() {
                                                                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S27.png";
                                                                                                                                  document.getElementById("DescriptionText").innerHTML = "27:Hole Summary<br><br>The details of shots taken on a hole."
                                                                                                                                }
                                                                                                                                </script>
                                                                                                                                <br>
                                                                                                                    
                                                                                                                                <a onclick="myFunction32()">28:Player Summary</a>
                                                                                                                                <script>
                                                                                                                                    function myFunction32() {
                                                                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S28.png";
                                                                                                                                      document.getElementById("DescriptionText").innerHTML = "28:Player Summary<br><br>Player Summary Menu."
                                                                                                                                    }
                                                                                                                                    </script>
                                                                                                                                    <br>
                                                                                
                                                                                                                                    <a onclick="myFunction33()">29:Club Distances</a>
                                                                                                                                    <script>
                                                                                                                                        function myFunction33() {
                                                                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S29.png";
                                                                                                                                          document.getElementById("DescriptionText").innerHTML = "29:Club Distances<br><br>The list of distances that a user hits their clubs."
                                                                                                                                        }
                                                                                                                                        </script>
                                                                                                                                        <br>  
                                                                                                                    
                                                                                                                                  
                                                                                                                    
                                                                                                                                        <a onclick="myFunction34()">30:Strengths/Weakness</a>
                                                                                                                                        <script>
                                                                                                                                            function myFunction34() {
                                                                                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S30.png";
                                                                                                                                              document.getElementById("DescriptionText").innerHTML = "30:Strengths/Weakness<br><br>The strengths and weakness that have been identified in the players data.  "
                                                                                                                                            }
                                                                                                                                            </script>
                                                                                                                                            <br>  
                                                                                                                    
                                                                                                                                            <a onclick="myFunction35()">31:Player Stats</a>
                                                                                                                                            <script>
                                                                                                                                                function myFunction35() {
                                                                                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S31.png";
                                                                                                                                                  document.getElementById("DescriptionText").innerHTML = "31:Player Stats<br><br>Stats based off the rounds that a user has submitted."
                                                                                                                                                }
                                                                                                                                                </script>
                                                                                                                                                <br>  
                                                                                                                                 
                                                                                                                                               


                                                                                                                                                <a onclick="myFunction36()">32:Create A Bag</a>
                                                                                                                                                <script>
                                                                                                                                                    function myFunction36() {
                                                                                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S32.png";
                                                                                                                                                      document.getElementById("DescriptionText").innerHTML = "32:Create A Bag<br><br>From here users can view, edit, delete or create new golf bags/sets."
                                                                                                                                                    }
                                                                                                                                                    </script>
                                                                                                                                                    <br>  
                                                                                                                            
                                                                                                                                                    <a onclick="myFunction37()">33:Add Clubs</a>
                                                                                                                                                    <script>
                                                                                                                                                        function myFunction37() {
                                                                                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S33.png";
                                                                                                                                                          document.getElementById("DescriptionText").innerHTML = "33:Add Clubs<br><br>This menu is where a user will add the name of the golf bag as well as add the golf clubs to the bag. The user should put in their recommended distance so the system will have something to recommend distance off of before data has been collated."
                                                                                                                                                        }
                                                                                                                                                        </script>
                                                                                                                                                        <br>
                                                                                                                                                        <a onclick="myFunction38()">34:Club Brand</a>
                                                                                                                                                        <script>
                                                                                                                                                            function myFunction38() {
                                                                                                                                                              document.getElementById("myImg").src = "images/SkeletonMocks/S34.png";
                                                                                                                                                              document.getElementById("DescriptionText").innerHTML = "34:Club Brand<br><br>This menu allows a user to search for a particular model of golf club."
                                                                                                                                                            }
                                                                                                                                                            </script>
                                                                                                                                                            <br>  
                                                                                                                                    
                                                                                                                                                            <a onclick="myFunction39()">35:Add clubs cont.</a>
                                                                                                                                                            <script>
                                                                                                                                                                function myFunction39() {
                                                                                                                                                                  document.getElementById("myImg").src = "images/SkeletonMocks/S35.png";
                                                                                                                                                                  document.getElementById("DescriptionText").innerHTML = "5:Add clubs cont.<br><br>As golfers will generally have multiple irons in the bag, this menu will allow them to add a full set of irons at once. They can choose the first and last iron in their bag"
                                                                                                                                                                }
                                                                                                                                                                </script>
                                                                                                                                                                <br>

                                                                                                                                                                <a onclick="myFunction43()">36:Add Irons</a>
                                                                                                                                                                <script>
                                                                                                                                                                    function myFunction43() {
                                                                                                                                                                      document.getElementById("myImg").src = "images/SkeletonMocks/S36.png";
                                                                                                                                                                      document.getElementById("DescriptionText").innerHTML = "36:Add Irons<br><br>There is a limit of 14 clubs to a golf bag. If the user exceeds this in the iron assignment they will be blocked from adding with an error message indicating why."
                                                                                                                                                                    }
                                                                                                                                                                    </script>
                                                                                                                                                                    <br>   
                                                                                                                                                
                                                                                                                                                                    <a onclick="myFunction44()">37:Too Many Clubs</a>
                                                                                                                                                                    <script>
                                                                                                                                                                        function myFunction44() {
                                                                                                                                                                          document.getElementById("myImg").src = "images/SkeletonMocks/S37.png";
                                                                                                                                                                          document.getElementById("DescriptionText").innerHTML = "37:Too Many Clubs<br><br>As it's quite likely that golf sets will use the same clubs, a user can add pre created golf clubs from bags that they previously created."
                                                                                                                                                                        }
                                                                                                                                                                        </script>
                                                                                                                                                                        <br>  
                            <a onclick="myFunction6()">38:Add Existing Clubs</a>
                            <script>
                                function myFunction6() {
                                  document.getElementById("myImg").src = "images/SkeletonMocks/S38.png";
                                  document.getElementById("DescriptionText").innerHTML = "This is the Settings menu."
                                }
                                </script>
                                <br>  
                                <br>  
                                <br>                                                                                                                                                                                               
                                <br>  

    </leftPanel>
   
    <descriptionPanel style = "background-color: black;color:white" >
      <H3 style = "color:white">What does this screen do?</H3>
        <b id ="DescriptionText"><b>
        </descriptionPanel>
        
</UISection>

</body>


