<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        
        <link rel="stylesheet" href="css/Styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
        <link rel="icon" type="image/png" href="images/TD2.png">
        <link rel="shortcut icon" type="image/png" href="images/TD2.png">
       
</head>

<style>
    body{
        background-color: #FFEC51;
        background-image: linear-gradient(to bottom right, #FFEC51,#dabc42);
        
    }
   
    p{
      font-family: futura-lt-w01-book,sans-serif;
    }
   
    .parallax {
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  background-image: url('/images/SweepCity/CoverTest.png');
}


    
</style>


<body>
    
  <header>
    <nav class="navbar fixed-top">
      <div class="banner" onclick="myFunction(this);toggleNav()" id ="Xbutton">
          <div class="bar1" style = "margin-top:5px;margin-left:5px;cursor:pointer"></div>
          <div class="bar2" style = "margin-left:5px;cursor:pointer"></div>
          <div class="bar3" style = "margin-left:5px;cursor:pointer;"></div>
      </div>
  
        <H2 style="color:white;text-align:center;"><a href="/Projects.html">Sweep City</a></H2>
        
        
    </nav>
  </header>

  
  <div id="mySidenav" class="sidenav" style ="background-color:rgb(18, 18, 18);">
    
        
    <a href="Home.html" class ="hovereffect" style ="text-decoration:none;">Home</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
    <a href="/Home.html#AboutMe" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">About Me</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
    <a href="Projects.html" class ="hovereffect" style ="text-decoration:none;">My Work</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">
    <a href="/CV.html" class ="hovereffect" style ="text-decoration:none;font-family: 'Lato', sans-serif;" onclick="myFunction(Xbutton);toggleNav()">CV / Résumé</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
    <a href="/Home.html#Contact" class ="hovereffect" style ="text-decoration:none;" onclick="myFunction(Xbutton);toggleNav()">Contact</a>
    <hr style ="border: 1px solid rgb(244, 244, 244);margin-left: 10%; margin-right: 20%;">  
    
    
  </div>


  
  <div class="row">
    
        
          
          <div class="col-sm-12"  style="height: 390px;text-align: center; ">
          <div class="parallax">
            <br>
           <br>
           <br>
           <br>
           <br>
                <H1 style ="color:rgb(255, 255, 255);padding-left: 5px;padding-right: 5px;font-weight: 100;">Sweep City</H1>
            
          </div>
        </div>
        
        
       
        </div>
        <div class="row" style="background-color:white;padding: 20px; padding-bottom: 35px">
          <div class="col-sm-1" ></div>
        <div class="col-sm-7" >
            <H3 style ="color:black">Background</H3>
            <hr>
            
        <p style ="color:black; " >Sweep city was a project I worked on with three other students as part of the second semester of my masters. The project was part of a module called mobile application design and we also took advantage of an opportunity to work on a Sri Lankan waste management campaign which aimed to tackle the environmental issues in Sri Lanka. This was a 1
            month long national campaign that would be delivered in partnership with Primary Schools and targeted at 10–12 year old students. We presented our prototype to members of the technical University of Denmark who were running the campaign. 
            </p>
        <br>
        <H3 style ="color:black">The Problem</H3>
        <hr>
        <p style ="color:black; ">The first step in this project was understanding the issue that we were being asked to resolve. I was quite unfamiliar with Sri Lanka and the types of waste management’s issues that they dealt with. I carried out some research about Sri Lanka and organized some questions for our cohort that we were regularly meeting with from the technical University of Denmark. It became apparent that littering was a major issue with images of beaches covered in plastics. </p> 
        <br>
    
        <H3 style ="color:black">The Solution</H3>
        <hr>
        <p style ="color:black; ">One of the limitations in terms of designing something in response to the issues in Sri Lanka was that it needed to be a mobile app as this was part of a mobile application design module. We agreed quite early that education would be the best method of dealing with this issue and creating an app that is targeted at school children could create an early appreciation for the importance of protecting the environment. We liked the idea of creating a game because we thought that it could be something that students think positively towards and want to engage with. We also thought that we could present tutorials on upcycling and how to reuse waste items. </p>
        <p style ="color:black; ">We chose to combine these ideas. Users would be able to get points by completing and sharing upcycling efforts or by playing a game where the player needs to toss waste items into trash cans. The user needs to throw the waste item into the correct bin in order to gain points. This was intended to reinforce the user’s knowledge of the correct waste bins while also creating a positive association with correct waste management. These two aspects of the app were connected by another game. This was a city management game where users could use their points to contribute towards good waste management practices. Users could deploy waste trucks, add recycle bins and carry out other tasks which would clean up areas of their city. This was intended to show students the results that good waste management can have in their area. </p> 
        
  <br> 
  <br> 
  
      </div>
      
      
    <div class="col-sm-4" ></div>
 
   

</div>


      
    </div>
    
    
  
    
    <div class="row" style="margin-top:75px;">
      <div class="col-sm-1 "></div>
      <div class="col-sm-3 ">
        <H4 style ="color:rgb(0, 0, 0);text-align: center">App</H4>
        <br>
        <p style ="color:rgb(0, 0, 0);padding-left: 5%;padding-right: 5%;" class ="desctiptiveText">The app is designed to be visually engaging for children as they are the target audience. The graphics used in the games were designed to look like real places in Sri Lanka by using buildings and similar infrastructure styles so that students would feel more familiar with the locations in the app. Adobe Illustrator and Adobe XD were used for creating the prototype. </p>
       
    </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-6">
            <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                  
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img1.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Load Screen</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img2.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                        
                    <p style="text-align: left">Tutorial</p>
                    
                    </div>
                  </div>
                  <div class="carousel-item " style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img3.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Home</p>
                    </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img4.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Side Menu</p>
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img5.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Game</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img6.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p  style="text-align: left">Game</p>
                </div>
                  </div>
                  
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img7.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Game</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img8.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Game</p>
                    
                </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img9.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Tutorials</p>
                   
                    </div>
                  </div>
                  <div class="carousel-item" style= "height:625px;">
                    <img class="d-block w-100" src="/images/SweepCity/Img11.png" alt="Feed" style="padding-bottom: 75px;padding-top: 10px">
                    <div class="carousel-caption d-none d-md-block">
                    <p style="text-align: left">Tutorials</p>
                   
                    </div>
                  </div>
        
           
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            
            
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-12" style="height:65px;"></div>
        </div>

       
                  
             

       
                
 





  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  
  
  



  <script>
  
    
  function toggleNav() {
    var element = document.getElementById("mySidenav");
    if (element.style.width == "330px") {
        element.style.width = "0px";
    } else {
        element.style.width = "330px";
    }
  }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


  </body>
</html>
  

